# env / build
.env
.venv/
__pycache__/
*.pyc
uv.lock
*.egg-info/
dist/
build/


# notebooks
notebooks/*
!notebooks/aqfml-final-project.ipynb
!notebooks/aqfml-final-project-no-links.ipynb
!notebooks/static/
notebooks/.ipynb_checkpoints/
.notebooks_tmp/
**/*.nbconvert.ipynb
*.ipynb

# Internal notes / slides (not versioned)
notes/

# data (keep structure, ignore contents)
data/raw/*
data/interim/*
!data/processed/*
!data/.gitkeep

# macOS
.DS_Store
.AppleDouble
.LSOverride