# env / build
.env
.venv/
__pycache__/
uv.lock
*.egg-info/
dist/
build/

# notebooks
.ipynb_checkpoints/
.notebooks_tmp/
**/*.nbconvert.ipynb

# data (keep structure, ignore contents)
data/raw/*
data/interim/*
data/processed/*
!data/.gitkeep

